#Ignore .env
.env

# Ignore virtual environments
venv/
backend/venv/

# Ignore Python cache
*.pyc
__pycache__/

node_modules/
frontend_gostem/node_modules/.cache/default-development/2.pack
frontend_gostem/node_modules/.cache/default-development/3.pack
backend/db.sqlite3
db.sqlite3
node_modules/
.eslintcache
*.pack

db.sqlite3
node_modules/
.eslintcache
*.pack